<div id="opacity-container" class="opacity-container" (click)="hidePopup()"></div>
<div id="popupcontainer">
    <div class="modal-custom" id="security-modal" style="display: block;">
        <div class="top">Security: Important Information on how we Help<a (click)="hidePopup()"  class="close-it"><i class="fa fa-times"></i></a></div>
        <div class="body">
            <div class="security-modal">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p class="yellow-container"><img src="images/control-who-see-what.png" alt="#" class="image-auto" data-rjs="2"></p>
                        <h4><strong>Control who Sees What</strong></h4>
                        <p>You have full control over who sees what, when.</p>
                        <p>By default completely private, you can explicitly share with named individuals, your wider organisation or make available via public search.</p>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p class="yellow-container"><img src="images/transport-layer-security.png" alt="#" class="image-auto" data-rjs="2"></p>
                        <h4><strong>Transport Layer Security</strong></h4>
                        <p>The connection between you and the Knowlocker app is fully encrypted at all times.</p>
                        <p>We use HTTPS / 128-bit encryption to ensure that all of your content is always private in transit.</p>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <p class="yellow-container"><img src="images/bank-level-storage-security.png" alt="#" class="image-auto" data-rjs="2"></p>
                        <h4><strong>Bank Level Storage Security</strong></h4>
                        <p>The secure storage of your content is our number one priority.</p>
                        <p>We store all content on Amazon Web Services and Microsoft Azure infrastructure which is trusted by banks and governments.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>