<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-sm" id="popupcontainer">
    <div class="top">Invite Contacts &amp; Seats<a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a></div>
    <div class="body">
        <p>To get the most out of Knowlocker invite contacts or add colleagues as ‘seats’.  You can do this via settings, or the LHS column.</p>
        <div class="blue-box-nux">
            <a href="https://app.knowlocker.com/f/tutorials" target="_blank">See this article</a> to understand the difference between ‘seats’ and ‘contacts’.
        </div>
        <div class="clearfix"></div>
    </div>
</div>
