<div class="single-feed-post">
    <div class="single-feed-content question-feed">
        <div class="feed-question-body">
            <a [href]="value.short_url">{{value.question}}</a>
            <a *ngIf="value.files.length" [href]="value.short_url">
                <img class="question-feed-img" [src]="value.files[0].link">
            </a>
        </div>
        <!-- People comented here -->
        <div class="people-comented">
            <a *ngFor="let user of value.users" class="user-image" [userImage]="user" [href]="value.short_url"></a>
        </div>
        <div class="bottom-content">
            <div class="social-share">
                <ng-template #hasAnswer>
                    <a [href]="value.short_url"><i class="fa fa-pencil" aria-hidden="true"></i>Add an answer</a>
                </ng-template>
                <a [href]="value.short_url" *ngIf="value.answers.length; else hasAnswer" class="answers-number">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Answers ({{value.answers.length}})
                </a>
                <div class="social-share">
                    <!--<a class="heart" href="javascript:;">-->
                        <!--<i class="fa fa-heart" aria-hidden="true"></i>Like(1)-->
                    <!--</a>-->
                    <a href="javascript:;" (click)="global.showSharePopoup(value)" class="share">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>Share<small [appShareNumb]="value.sharedWithUsers.length"></small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
