<div class="single-feed-content protected">
    <div class="protected-area-outher third-column" (click)="global.showColumn('protected')">
        <div class="protected-area">
            <p>Enter Pin to View Content</p>
            <form>
                <input type="text" class="input-field" name="pin" />
                <span></span>
                <input type="submit" class="input-submit" value="Open" />
            </form>
        </div>
    </div>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
</div>