<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-sm" id="popupcontainer">
    <div class="top">Download Mobile Apps<a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a></div>
    <div class="body">
        <p>We have native iOS and Android apps to help you get the most out of Knowlocker on the move.  You can view content and more.</p>
        <ul class="nux-buttons">
            <li><a href="https://itunes.apple.com/us/app/knowlocker/id1267984328?ls=1&mt=8" target="_blank"><img src="images/icon-apple.png" alt="#">iOS App</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.novp.knowlocker" target="_blank"><img src="images/icon-googleplay.png" alt="#">Android App</a></li>
        </ul>
        <!--<div class="clearfix"></div>-->
        <!--<a href="#" (click)="hidePopup()" class="nux-complete">Mark as complete</a>-->
        <div class="clearfix"></div>
    </div>
</div>