<div class="settings-affiliate-content">
    <div class="padding-div">

        <p class="title">Your Unique Signup Link</p>
        <p>Use this link to share the Knowlocker homepage:</p>
        <div class="unique-signup-link-div">
            <label><strong>1. Use the following link for sharing as reseller</strong></label>
            <p class="link">{{user.reseller_link}}</p>
            <small><i class="fa fa-info-circle" aria-hidden="true"></i> You can also manually add
                <strong>{{user.reseller_short_link}}</strong>
                to any Knowlocker link
            </small>
        </div>

        <p class="title">Your Affiliate Codes</p>
        <p>Earn affiliate income when your clients purchase power-ups within Knowlocker</p>
        <div class="table-responsive affiliate">
            <table width="100%" border="1" cellspacing="0" cellpadding="0" class="table-invited-ppl">
                <tr>
                    <td>
                        <img src="images/webjeo.png" alt="">
                    </td>
                    <td align="right">
                        <input type="text" placeholder="Enter Affiliate Code" class="text-input">
                    </td>
                </tr>

                <tr>
                    <td>
                        <img class="wistia" src="images/wistia.png" alt="">
                    </td>
                    <td align="right">
                        <input type="text" placeholder="Enter Affiliate Code" class="text-input">
                    </td>
                </tr>
            </table>
            <p class="save"><a (click)="showInDevelop()" class="c-button w100 open-add-user-reseller">Save</a></p>
            <span class="in-develop" *ngIf="showError">In Develop</span>
        </div>


        <p class="title">Dedicated Reseller Support</p>
        <p>Useful Contacts</p>
        <div class="package-div-custom clearfix">
            <div class="boxx">
                <a class="support-link">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    In-app Chat
                    <strong>Available 24/7</strong>
                </a>
            </div>

            <div class="boxx">
                <a class="support-link">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    Phone Support
                    <strong>(313) 329-3885</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="mailto:support@knowlocker.com" class="support-link">
                    <i class="fa fa-at" aria-hidden="true"></i>
                    Email Support
                    <strong>support@knowlocker.com</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://knowlocker.com/affiliates" target="_blank" class="support-link">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Resellers Resource Centre
                    <strong>knowlocker.com/affiliate</strong>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>


        <p class="title">Downloads</p>

        <div class="package-div-custom downloads clearfix">
            <p>Guides</p>
            <div class="boxx">
                <a href="affiliate_files/guides/kls_whitepaper.pdf" class="support-link" download>
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>White Paper .PDF</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="affiliate_files/guides/kls_whitepaper.ai" class="support-link" download>
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>White Paper .AI (Editable Source File)</strong>
                </a>
            </div>
        </div>

        <div class="package-div-custom downloads clearfix">
            <p>Creative Assets</p>
            <div class="boxx">
                <a href="https://drive.google.com/file/d/0B8rgxjX5SbpGRVZONVRkTFpGaTA/view?usp=sharing" target="_blank"
                   class="support-link">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>Business Cards</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://drive.google.com/file/d/0B8rgxjX5SbpGTS1pZFY4azhkTWc/view?usp=sharing" target="_blank"
                   class="support-link">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>CD</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://drive.google.com/file/d/0B8rgxjX5SbpGckwzeTc1NXhTZzg/view?usp=sharing" target="_blank"
                   class="support-link">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>Flyer</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://drive.google.com/file/d/0B8rgxjX5SbpGdWJtZG15V243RTg/view?usp=sharing" target="_blank"
                   class="support-link">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>Postcards</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://drive.google.com/file/d/0B8rgxjX5SbpGdGxHaTJQMzFTRDA/view?usp=sharing" target="_blank"
                   class="support-link">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>Ring Binder</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://drive.google.com/file/d/0B8rgxjX5SbpGRWRQbVpCRTRLeFk/view?usp=sharing" target="_blank"
                   class="support-link">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>Software Box</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://drive.google.com/file/d/0B8rgxjX5SbpGOVFERzhyd01GREU/view?usp=sharing" target="_blank"
                   class="support-link">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>Tent Cards</strong>
                </a>
            </div>
        </div>

        <div class="package-div-custom downloads clearfix">
            <p>Videos</p>
            <div class="boxx">
                <a href="affiliate_files/videos/Version_1.mp4" class="support-link" download>
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    <strong>Knowlocker Promo v1</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="affiliate_files/videos/Version_2.mp4" class="support-link" download>
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    <strong>Knowlocker Promo v2</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="affiliate_files/videos/Version_3.mp4" class="support-link" download>
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    <strong>Knowlocker Promo v3</strong>
                </a>
            </div>
        </div>

        <div class="package-div-custom downloads clearfix">
            <p>Webinars</p>
            <div class="boxx">
                <a href="https://vimeo.com/235491901" target="_blank" class="support-link">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    <strong>Knowlocker How Adding A Knowledge System Can Help Company Growth</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://youtu.be/GwqJEi5r1H8" target="_blank" class="support-link">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    <strong>Welcome Please Register For The Knowlocker Webinar</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://youtu.be/NliQO8sqxrw" target="_blank" class="support-link">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    <strong>Thanks for Registering</strong>
                </a>
            </div>

            <div class="boxx">
                <a href="https://youtu.be/Mp7ZlxZfzGw" target="_blank" class="support-link">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    <strong>Thanks for Registering Watch Now</strong>
                </a>
            </div>
        </div>

        <div class="package-div-custom downloads clearfix">
            <p>Facebook Ads</p>
            <div class="boxx">
                <a href="affiliate_files/facebook_ads/FB_Ads.zip" class="support-link" download>
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>Facebook Ads Pack 1</strong>
                </a>
            </div>
        </div>

        <div class="package-div-custom downloads clearfix">
            <p>Marketing Emails</p>
            <div class="boxx">
                <a href="affiliate_files/marketing_emails/Email_Follow_Ups.zip" class="support-link" download>
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <strong>Email Pack 1</strong>
                </a>
            </div>
            <div class="boxx">
                <a href="https://www.youtube.com/watch?v=aN8zpmFYvSk&feature=youtu.be" class="support-link" target="_blank">
                    <i class="fa fa-external-link-square" aria-hidden="true"></i>
                    <strong>Training</strong>
                </a>
            </div>
        </div>

        <div class="package-div-custom downloads clearfix">
            <p>Training</p>
            <div class="boxx">
                <a href="https://app.knowlocker.com/f/tutorials" class="support-link">
                    <i class="fa fa-external-link-square" aria-hidden="true"></i>
                    <strong>View Training</strong>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>

        <p class="title">Get these Resources</p>
        <p>WebinarJeo - Reliable Webinar Software</p>
        <div class="table-responsive affiliate">
            <img class="resourses-image" src="images/webjeo.png" alt="">
            <div class="package-div-custom downloads clearfix">
                <div class="boxx">
                    <a href="http://novp.umo.zaxaa.com/s/3666718736034" target="_blank" class="support-link">
                        <i class="fa fa-external-link-square" aria-hidden="true"></i>
                        <strong>www.webinarjeo.com</strong>
                    </a>
                </div>
                <div class="boxx">
                    <a href="https://www.youtube.com/watch?v=D9S_haU7y7c&feature=youtu.be" target="_blank" class="support-link">
                        <i class="fa fa-external-link-square" aria-hidden="true"></i>
                        <strong>Setting Up And Using The Prerecorder webinar</strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <p>Sendlane - Digital Marketing made better</p>
        <div class="table-responsive affiliate">
            <img class="resourses-image sendlane" src="images/sendlane.png" alt="">
            <div class="package-div-custom downloads clearfix">
                <div class="boxx">
                    <a href="https://waltbayliss.sendlane.com/referral/PC08370?signup" target="_blank" class="support-link">
                        <i class="fa fa-external-link-square" aria-hidden="true"></i>
                        <strong>Get Started for Free</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>