<div id="opacity-container" class="billing-popup"></div>
<!-- Please include success class for success, or error for error here -->
<div id="popupcontainer" class="billing-popup error">
    <div class="popup-header">Free Account<i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="popup-content">
        <p class="message-desc">This is a free account. You need a paid account to create content.</p>
        <a href="javascript:;" class="submit billing-popup-input-submit">Click here to upgrade</a>
    </div>
</div>