<router-outlet></router-outlet>
<div class="main-page-inner feed-page channels-listing-page">
    <left-column
            [scrollToMeetings]="false"
            [scrollToContacts]="false"
            [scrollToFolders]="false"
            [scrollToVault]="false"
    ></left-column>
    <!-- Main column -->
    <div class="right-column">
        <!-- Main feed page -->
        <div class="main-feed-content clearfix">
            <!-- First main column -->
            <div class="third-column columns" [ngClass]="{shorten: global.fourthColumnvisible}">
               <div class="all-channels-listing">
                   <!-- Channel filters -->
                   <div class="channel-page-filters">
                       <a href="javascript:;" class="channel-page-filter active">Popular</a>
                       <a href="javascript:;" class="channel-page-filter">Recent</a>
                       <a href="javascript:;" class="channel-page-filter">A-Z</a>
                   </div>
                   <div class="channel-listing-boxes">
                       <!-- Repeatable element channel box -->
                       <div class="channels-box">
                           <div class="channel-box-inner">
                               <div class="channels-box-left">
                                   <div class="channel-box-profile-img">
                                       <img src="images/avatar.png" />
                                   </div>
                               </div>
                               <div class="channel-box-right">
                                   <div class="channel-name-privacy">
                                       <p class="channel-name">Veritassium chanel name here</p>
                                       <p class="channel-privacy">Free</p>
                                   </div>
                                   <p class="channel-username">@mediatask</p>
                                   <div class="channel-description">
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                   </div>
                                   <div class="channel-box-subscribe">
                                       <a href="javascript:;" class="channel-box-subscribe-link">Subscribe</a>
                                       <p class="channel-box-subscribe-number">2.540 subscribers</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <!-- Repeatable element channel box -->
                       <div class="channels-box">
                           <div class="channel-box-inner">
                               <div class="channels-box-left">
                                   <div class="channel-box-profile-img">
                                       <img src="images/avatar.png" />
                                   </div>
                               </div>
                               <div class="channel-box-right">
                                   <div class="channel-name-privacy">
                                       <p class="channel-name">Veritassium chanel name here</p>
                                       <p class="channel-privacy">Free</p>
                                   </div>
                                   <p class="channel-username">@mediatask</p>
                                   <div class="channel-description">
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                   </div>
                                   <div class="channel-box-subscribe">
                                       <a href="javascript:;" class="channel-box-subscribe-link">Subscribe</a>
                                       <p class="channel-box-subscribe-number">2.540 subscribers</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <!-- Repeatable element channel box -->
                       <div class="channels-box">
                           <div class="channel-box-inner">
                               <div class="channels-box-left">
                                   <div class="channel-box-profile-img">
                                       <img src="images/avatar.png" />
                                   </div>
                               </div>
                               <div class="channel-box-right">
                                   <div class="channel-name-privacy">
                                       <p class="channel-name">Veritassium chanel name here</p>
                                       <p class="channel-privacy">Free</p>
                                   </div>
                                   <p class="channel-username">@mediatask</p>
                                   <div class="channel-description">
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                   </div>
                                   <div class="channel-box-subscribe">
                                       <a href="javascript:;" class="channel-box-subscribe-link">Subscribe</a>
                                       <p class="channel-box-subscribe-number">2.540 subscribers</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <!-- Repeatable element channel box -->
                       <div class="channels-box">
                           <div class="channel-box-inner">
                               <div class="channels-box-left">
                                   <div class="channel-box-profile-img">
                                       <img src="images/avatar.png" />
                                   </div>
                               </div>
                               <div class="channel-box-right">
                                   <div class="channel-name-privacy">
                                       <p class="channel-name">Veritassium chanel name here</p>
                                       <p class="channel-privacy">Free</p>
                                   </div>
                                   <p class="channel-username">@mediatask</p>
                                   <div class="channel-description">
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                   </div>
                                   <div class="channel-box-subscribe">
                                       <a href="javascript:;" class="channel-box-subscribe-link">Subscribe</a>
                                       <p class="channel-box-subscribe-number">2.540 subscribers</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <!-- Repeatable element channel box -->
                       <div class="channels-box">
                           <div class="channel-box-inner">
                               <div class="channels-box-left">
                                   <div class="channel-box-profile-img">
                                       <img src="images/avatar.png" />
                                   </div>
                               </div>
                               <div class="channel-box-right">
                                   <div class="channel-name-privacy">
                                       <p class="channel-name">Veritassium chanel name here</p>
                                       <p class="channel-privacy">Free</p>
                                   </div>
                                   <p class="channel-username">@mediatask</p>
                                   <div class="channel-description">
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                   </div>
                                   <div class="channel-box-subscribe">
                                       <a href="javascript:;" class="channel-box-subscribe-link">Subscribe</a>
                                       <p class="channel-box-subscribe-number">2.540 subscribers</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <!-- Repeatable element channel box -->
                       <div class="channels-box">
                           <div class="channel-box-inner">
                               <div class="channels-box-left">
                                   <div class="channel-box-profile-img">
                                       <img src="images/avatar.png" />
                                   </div>
                               </div>
                               <div class="channel-box-right">
                                   <div class="channel-name-privacy">
                                       <p class="channel-name">Veritassium chanel name here</p>
                                       <p class="channel-privacy">Free</p>
                                   </div>
                                   <p class="channel-username">@mediatask</p>
                                   <div class="channel-description">
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                       Lorem ipsum proin gravida auctor ven velith dolor sit amet mallum nullum sine aliquo bono.
                                   </div>
                                   <div class="channel-box-subscribe">
                                       <a href="javascript:;" class="channel-box-subscribe-link">Subscribe</a>
                                       <p class="channel-box-subscribe-number">2.540 subscribers</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>