<div id="opacity-container" class="opacity-container"></div>
<div id="popupcontainer" class="upload-limit-error">
    <div class="asset-popup embed-widget">
        <!-- Header -->
        <div class="popup-header">Upload limit reached<i class="fa fa-times" aria-hidden="true"></i></div>
        <!-- Body -->
        <div class="popup-body">
            <img src="images/upload-error.png" class="upload-error-img"/>
            <p class="description">
                Your account has reached the upload limit. You can upgrade your account and increase the upload limit trough account settings.
            </p>
            <a href="javascript:;" class="default-button">Upgrade Account</a>
        </div>
    </div>
</div>
