<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-sm" id="popupcontainer">
    <div class="top">Set up Channels<a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a></div>
    <div class="body">
        <p>Create and manage your Channels to make it easy for your colleagues to keep up to date with new content and updates.</p>
        <div class="blue-box-nux">
            Manage your channels within ‘<a href="/settings">Settings</a>’ and decide which channels to follow.
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<svg class='pulse-svg' height='58px' version='1.1' viewBox='0 0 58 58' width='58px' xmlns='http://www.w3.org/2000/svg'>
    <circle class='circle first-circle' cx='29' cy='29' opacity='0' r='25'></circle>
    <circle class='circle second-circle' cx='29' cy='29' opacity='0' r='25'></circle>
    <circle class='circle third-circle' cx='29' cy='29' opacity='0' r='25'></circle>
    <g>
        <circle cx='29' cy='29' r='29'></circle>
    </g>
</svg>