<!-- Edit image buttons -->
<!--<main-feed-file-operation [value]="value" [index]="index"></main-feed-file-operation>-->
<div class="single-feed-content hover-desc-cont audio">
    <div class="feed-images">
        <div (click)="global.showColumn(value, index, true)"  class="image-outher hover-desc-cont"  myDraggable [myDraggable]="{data: value}">
            <audio controls>
                <source src="{{ value.filedata.link }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <div class="bottom-content">
        <!--<div class="add-commnet">-->
            <!--<a href="javascript:;">-->
                <!--<i class="fa fa-pencil" aria-hidden="true"></i> Comment-->
            <!--</a>-->
        <!--</div>-->
        <div class="social-share">
            <!--<a class="heart" href="javascript:;">-->
                <!--<i class="fa fa-heart" aria-hidden="true"></i>Like(1)-->
            <!--</a>-->
            <a href="javascript:;" (click)="global.showSharePopoup(value)" class="share">
                <i class="fa fa-share-alt" aria-hidden="true"></i>Share<small [appShareNumb]="value.sharedWithUsers.length"></small>
            </a>
        </div>
        <div class="social-share">
            <a href="{{ value.filedata.link }}" download class="share">
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>Download
            </a>
        </div>
    </div>
</div>
