<div id="opacity-container" class="opacity-container" (click)="hidePopup()"></div>
<div id="popupcontainer" class="embed-widget">
    <div class="asset-popup get_apps">
        <!-- Header -->
        <div class="popup-header">Get our Apps<i class="fa fa-times" aria-hidden="true" (click)="hidePopup()"></i></div>
        <!-- Body -->
        <div class="popup-body">
            <p class="description">Upload directly from your mobile with our apps.<br> Download our applications based on your mobile<br> device.</p>
            <!-- Download links -->
            <a href="javascript:;" class="get_apps getapps_ps">Download from Play Store</a>
            <a href="javascript:;" class="get_apps getapps_it">Download from iTunes</a>
        </div>
    </div>
</div>
