<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-sm" id="popupcontainer">
    <div class="top">Connect Vault<a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a></div>
    <div class="body">
        <ul class="vault-list-container">
            <li (click)="dropBoxClick()">
                <img src="images/dropbox-min.png" alt="">
                <a class="vault-dropbox">Dropbox</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
            <li (click)="toggleVaultPopup(true)">
                <img src="images/googledrive-min.png" alt="">
                <a class="vault-google-drive">Google Drive</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
            <li (click)="toggleVaultPopup(true)">
                <img src="images/box-min.png" alt="">
                <a class="vault-box">box</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
            <li (click)="toggleVaultPopup(true)">
                <img src="images/onedrive-min.png" alt="">
                <a class="vault-onedrive">Microsoft OneDrive</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
            <li (click)="toggleVaultPopup(true)">
                <img src="images/gmail-min.png" alt="">
                <a class="vault-gmail">Gmail</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
            <li (click)="toggleVaultPopup(true)">
                <img src="images/outlook-min.png" alt="">
                <a class="vault-outlook">Outlook</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
            <li (click)="toggleVaultPopup(true)">
                <img src="images/slack-min.png" alt="">
                <a class="vault-slack">Slack</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
            <li (click)="toggleVaultPopup(true)">
                <img src="images/skype-min.png" alt="">
                <a class="vault-skype">Skype</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
            <li (click)="toggleVaultPopup(true)">
                <img src="images/facebook-min.png" alt="">
                <a class="vault-facebook">Facebook</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</div>
