<div class="mf-folderscomp-listing">
    <!-- Folders listing -->
    <div class="mf-folders-listing">
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1, Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #15454664466 </p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1, Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #15454664466 </p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1, Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #15454664466 </p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-folder.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
    </div>
    <!-- Files listing -->
    <div class="mf-folders-listing">
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1, Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #15454664466 </p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1, Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #15454664466 </p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1, Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #15454664466 </p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
        <!-- Single folder container -->
        <div class="mf-single-folder">
            <img src="images/icon-file.png" class="mf-single-folder-icon"/>
            <div class="mf-single-folder-info">
                <p class="mf-single-folder-title">Adobe XD Tutorials #1</p>
                <p class="mf-single-folder-number">4 files</p>
            </div>
        </div>
    </div>
</div>
