.filter-box .scrollbar-element {
  width: 100%;
  display: inline-block;
  overflow-y:auto;
  height:150px;
  @media (max-width: 1100px) {
    height: 100px;
  }
  @media (max-height: 800px) {
    height: 100px;
  }
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #000!important;
  opacity: 0.9;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #000!important;
  opacity: 0.9;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #000!important;
  opacity: 0.9;
}