<div class="details-box versions">
    <div (click)="rhsService.hideColumt()" class="details-header">
        <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>
        <p>Versions</p>
    </div>
    <!-- Assets versions -->
    <div class="assests-versions-cont">
        <div class="assets-versions-cont-header">Asset’s versions</div>
        <div class="assets-versions-cont-body">
            <!-- Repeatable element -->
            <div class="assets-version-cont-row">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span class="version-number">Version 5</span>
                <span class="version-date">Added on 14 Mar 2017</span>
                <a class="version-view" href="javascript:;">View</a>
            </div>
            <!-- Repeatable element -->
            <div class="assets-version-cont-row">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span class="version-number">Version 4</span>
                <span class="version-date">Added on 10 Mar 2017</span>
                <a class="version-view" href="javascript:;">View</a>
            </div>
            <!-- Repeatable element -->
            <div class="assets-version-cont-row">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span class="version-number">Version 3</span>
                <span class="version-date">Added on 08 Mar 2017</span>
                <a class="version-view" href="javascript:;">View</a>
            </div>
        </div>
        <a href="javascript:;" class="default-button">Upload new version</a>
    </div>
</div>