.flatpickr-confirm {
	height: 40px;
	max-height: 0px;
	visibility: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0,0,0,0.06);
    padding: 10px calc(3.57% - 1.5px);
}
.flatpickr-confirm svg path {
	fill: inherit;
}

.flatpickr-confirm.darkTheme {
	color: white;
	fill: white;
}

.flatpickr-confirm.visible {
	max-height: 40px;
	visibility: visible
}

.flatpickr-confirm-item {
    display:inline-flex;
    cursor: pointer;
}

.flatpickr-confirm-item:hover {
    color:#00c3fc;
}