<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-sm" id="popupcontainer">
    <div class="top">Install Plugin<a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a>
    </div>
    <div class="body">
        <p>If you use Chrome, you need to install our browser plugin to use screen sharing or recording
            capabilities.</p>
        <div class="blue-box-nux chrome-ext">
            <div class="plugin-image"></div>
            <div class="plugin-text">
                Install it by <a
                    href="https://chrome.google.com/webstore/detail/knowlocker-screen-capturi/kiapphehiclgceekipjdlokgladdejpm"
                    target="_blank">clicking here</a>, and then following the Chrome-store prompts.
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>