<div class="follow-container">
    <!-- Subscribe Box Channels-->
    <div class="follow-box">
        <h2 class="follow-box-title">Internal Channels</h2>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>General<span>@mediatask</span></p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>UI & Front-end<span>@mediatask</span></p>
            <a href="javascript:;" class="subscribe-btn subscribed">Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>Back-end Dev<span>@mediatask</span></p>
            <a href="javascript:;" class="subscribe-btn subscribed">Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>R & Hiring<span>@mediatask</span></p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>Legal<span>@mediatask</span></p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>R&D<span>@mediatask</span></p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
    </div>
    <!-- Subscribe Box Piblic Channels-->
    <div class="follow-box">
        <h2 class="follow-box-title">Public Channels</h2>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>General<span>@mediatask</span></p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>UI & Front-end<span>@mediatask</span></p>
            <a href="javascript:;" class="subscribe-btn subscribed">Subscribe</a>
        </div>
    </div>
    <!-- Subscribe Box People-->
    <div class="follow-box">
        <h2 class="follow-box-title">People</h2>
        <!-- Follow box container -->
        <div class="follow-box-settings-single people">
            <img src="images/settings-user.png" class="settings-single-pers"/><p class="follow-box-settings-single-name">Lori Declue</p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single people">
            <img src="images/settings-user.png" class="settings-single-pers"/><p class="follow-box-settings-single-name">Lori Declue</p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single people">
            <img src="images/settings-user.png" class="settings-single-pers"/><p class="follow-box-settings-single-name">Lori Declue</p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single people">
            <img src="images/settings-user.png" class="settings-single-pers"/><p class="follow-box-settings-single-name">Lori Declue</p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single people">
            <img src="images/settings-user.png" class="settings-single-pers"/><p class="follow-box-settings-single-name">Lori Declue</p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single people">
            <img src="images/settings-user.png" class="settings-single-pers"/><p class="follow-box-settings-single-name">Lori Declue</p>
            <a href="javascript:;" class="subscribe-btn">Un-Subscribe</a>
        </div>
    </div>
</div>