<div class="channels-container">
    <!-- Affiliated Box Channels-->
    <div class="affiliated-box">
        <h2 class="affiliate-box-title">1. Works with any link</h2>
        <p class="affiliate-box-des-italic">You will earn 50% of the lifetime value of any account (who is not already a user) who signs up to Knowlocker following one of your links.  </p>
        <p class="affiliate-box-des">Our support team will be in touch following your first sale to get your financial account preferences for outpayment.</p>
    </div>
    <!-- Affiliated Box Channels-->
    <div class="affiliated-box">
        <h2 class="affiliate-box-title">2. Share Signup Link</h2>
        <p class="affiliate-box-des">Any link is valid, but here is the default signup link</p>
        <!-- Share signup link -->
        <div class="affiliate-share-link">
            <form>
                <input type="text" class="affiliate-share-link-input" value="http://knowlocker.com/signup" readonly/>
                <input type="submit" class="affiliate-submit" value="Share"/>
            </form>
        </div>
    </div>
    <!-- Affiliated Box Channels-->
    <div class="affiliated-box">
        <h2 class="affiliate-box-title">3. Manually invite people</h2>
        <p class="affiliate-box-des">Invite people that may be interested to Knowlocker</p>
        <form class="create-cf" novalidate="">
            <input class="create-cf-input"  placeholder="Email" type="text">
            <input class="create-cf-submit" type="submit" value="Send Invite">
        </form>
        <!-- People list -->
        <div class="affiliate-people-list">
            <!-- Single person -->
            <div class="affiliate-person">
                <span class="affiliate-person-email">test@company.com</span>
                <div class="affiliate-person-actions">
                    <a href="javascript:;" class="affiliate-person-actions-link">Resend</a>
                    <a href="javascript:;" class="affiliate-person-actions-link"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- Single person -->
            <div class="affiliate-person">
                <span class="affiliate-person-email">test@company.com</span>
                <div class="affiliate-person-actions">
                    <a href="javascript:;" class="affiliate-person-actions-link">Resend</a>
                    <a href="javascript:;" class="affiliate-person-actions-link"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>