<!--<main-feed-file-operation [value]="value" [index]="index"></main-feed-file-operation>-->
<div class="single-feed-content video hover-desc-cont">
    <!--<div class="content-lock">-->
        <!--<span class="content locked"><i class="fa fa-lock" aria-hidden="true"></i></span>-->
        <!--<span class="content unlocked"><i class="fa fa-question" aria-hidden="true"></i></span>-->
    <!--</div>-->
    <!-- Edit image buttons -->
    <span class="file-name">{{value.name}}</span>
    <div (click)="global.showColumn(value, index, true)" class="feed-file-single feed-video" myDraggable [myDraggable]="{data: value}">
        <img [feedImage]="value" version="2"/>
        <p><i class="fa fa-play" aria-hidden="true"></i></p>
    </div>
    <div class="bottom-content">
        <div class="add-commnet">
            <a (click)="showComments(value, index)" href="javascript:;">
                <i class="fa fa-pencil" aria-hidden="true"></i> Comment <span *ngIf="value.comments_count">({{value.comments_count}})</span>
            </a>
        </div>
        <div class="social-share">
            <!--<a class="heart" href="javascript:;">-->
                <!--<i class="fa fa-heart" aria-hidden="true"></i>Like(1)-->
            <!--</a>-->
            <a href="javascript:;" (click)="global.showSharePopoup(value)" class="share">
                <i class="fa fa-share-alt" aria-hidden="true"></i>Share<small [appShareNumb]="value.sharedWithUsers.length"></small>
            </a>
        </div>
        <div class="social-share">
            <a href="{{ getVideoLink(value) }}" download class="share">
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>Download
            </a>
        </div>
    </div>
    <!--<p class="hover-descriptions"><span>..</span>Double-click to open</p>-->
</div>