<div class="empty-feed-div">
    <p><img src="images/empty-feed.jpg" alt="#" class="image-auto" /></p>
    <div class="clearfix"></div>
    <h2>Your feed is empty.<small>Hopefully you will never see this again!</small></h2>
    <ul class="inform">
        <li><span><i class="fa fa-plus" aria-hidden="true"></i></span>Share what you know via the<strong> Create a Post</strong> button</li>
        <li><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>Learn something new using the <strong>Ask a Question</strong> Button</li>
        <li><span><i class="fa fa-bolt" aria-hidden="true"></i></span>Start recording your knowledge with our screen recording pluign</li>
    </ul>
    <div class="clearfix"></div>
    <p>&nbsp;</p>
</div>