<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-sm" id="popupcontainer">
    <div class="top">Set up Folders<a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a></div>
    <div class="body">
        <p>You can set up folders and sub-folders to help keep your content organised.  You can also share entire folders.</p>
        <div class="blue-box-nux">
            Add the names of required folders in the left hand side column, below <strong><img src="images/icon-mycontent.png" alt="#"> My Content</strong>.
        </div>
        <div class="clearfix"></div>
    </div>
</div>