<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-sm" id="popupcontainer">
    <div class="top">Create Post<a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a></div>
    <div class="body">
        <p>You can create posts for sharing with your colleagues or more widely, via public links.</p>
        <div class="blue-box-nux">
            Click on the <strong><i class="fa fa-plus-square"></i> Create a Post</strong> button at the bottom of the page to get started.
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<svg class='pulse-svg' height='58px' version='1.1' viewBox='0 0 58 58' width='58px' xmlns='http://www.w3.org/2000/svg'>
    <circle class='circle first-circle' cx='29' cy='29' opacity='0' r='25'></circle>
    <circle class='circle second-circle' cx='29' cy='29' opacity='0' r='25'></circle>
    <circle class='circle third-circle' cx='29' cy='29' opacity='0' r='25'></circle>
    <g>
        <circle cx='29' cy='29' r='29'></circle>
    </g>
</svg>