<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-sm" id="popupcontainer">
    <div class="top">Create Meeting<a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a></div>
    <div class="body">
        <p>Sometimes, face-to-face video meetings are the best way to transfer information.  Knowlocker supports such meetings.</p>
        <div class="blue-box-nux">
            Click ‘<strong>Create Meeting</strong>’ in the lefthand side.
        </div>
        <div class="clearfix"></div>
    </div>
</div>
