<div id="opacity-container" class="opacity-container" (click)="hidePopup()"></div>
<div id="popupcontainer" class="embed-widget">
    <div class="asset-popup embed-widget">
        <!-- Header -->
        <div class="popup-header">Embed widget<i class="fa fa-times" aria-hidden="true" (click)="hidePopup()"></i></div>
        <!-- Body -->
        <div class="popup-body">
            <p class="description">Include this code on your website or email <br>signature to receive content directly into your <br>PlanetJuno account.</p>
            <form>
                <!-- Script for embeding -->
               <div class="form-field">
                   <textarea class="text-input" readonly="readonly">Script here</textarea>
               </div>
                <div class="form-field">
                   <input type="submit" class="default-button" value="Copy code & Embed" />
                </div>
            </form>
        </div>
    </div>
</div>
