<div class="channels-container">
    <!-- Follow Box Channels-->
    <div class="follow-box">
        <h2 class="follow-box-title">Channels</h2>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>General</p>
            <div class="switch">
                <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-1"></label>
            </div>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>UI & Front-end</p>
            <div class="switch">
                <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-2"></label>
            </div>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>Back-end Dev</p>
            <div class="switch">
                <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-3"></label>
            </div>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>R & Hiring</p>
            <div class="switch">
                <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-4"></label>
            </div>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>Legal</p>
            <div class="switch">
                <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-5"></label>
            </div>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-hashtag" aria-hidden="true"></i>R&D</p>
            <div class="switch">
                <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-6"></label>
            </div>
        </div>
    </div>
    <!-- Follow Box Folders-->
    <div class="follow-box">
        <h2 class="follow-box-title">Folders</h2>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-folder" aria-hidden="true"></i>Home</p>
            <div class="switch">
                <input id="cmn-toggle-11" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-11"></label>
            </div>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-folder" aria-hidden="true"></i>Work</p>
            <div class="switch">
                <input id="cmn-toggle-12" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-12"></label>
            </div>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <p class="follow-box-settings-single-name"><i class="fa fa-folder" aria-hidden="true"></i>Shared</p>
            <div class="switch">
                <input id="cmn-toggle-13" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-13"></label>
            </div>
        </div>
        <!-- Follow box container -->

    </div>
    <!-- Follow Box Contact -->
    <div class="follow-box">
        <h2 class="follow-box-title">Contacts</h2>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <div class="contact-lc-list list-listing-contact">
                <a class="user-image" href="/profile/1277"><span>A</span></a>
                <span class="contact-lc-list-fullname">asd</span>
            </div>
            <div class="switch">
                <input id="cmn-toggle-31" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-31"></label>
            </div>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <div class="contact-lc-list list-listing-contact">
                <a class="user-image" href="/profile/811"><img src="https://pjuploads.blob.core.windows.net/useravatars/phpd61VKo_1fc2266c673a41fcb794b903c855deb4_100x100.png"></a>
                <span class="contact-lc-list-fullname">Blagojce Taleski</span>
            </div>
            <div class="switch">
                <input id="cmn-toggle-32" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-32"></label>
            </div>
        </div>
        <!-- Follow box container -->
        <div class="follow-box-settings-single">
            <div class="contact-lc-list list-listing-contact">
                <a class="user-image" href="/profile/1277"><span>A</span></a>
                <span class="contact-lc-list-fullname">asd</span>
            </div>
            <div class="switch">
                <input id="cmn-toggle-33" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-33"></label>
            </div>
        </div>
        <!-- Follow box container -->

    </div>
</div>