<main-header class="search-header">
    <!--<div class="header-breadcrupms">-->
        <!--<i class="fa fa-arrow-circle-o-left"></i>-->
        <!--<h1 class="last" ng-reflect-ng-class="[object Object]">Search</h1>-->
    <!--</div>-->
    <!--<div class="search-wrapper">-->
        <!--&lt;!&ndash; Search form &ndash;&gt;-->
        <!--<div class="search-form">-->
            <!--<form (ngSubmit)="onSubmit()" #search="ngForm" novalidate>-->
                <!--<input [(ngModel)]="searchFiles" name="searchFiles" type="text" placeholder="Search" class="search-input" />-->
                <!--<input type="submit"  class="search-input-submit" />-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <!-- Show content on search page -->
    <!--<i (click)="clearSearch()" class="fa fa-times close-search" aria-hidden="true"></i>-->
</main-header>