<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-lg" id="vault-modal">
    <a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a>
    <div class="vault-half processes">
        <div class="table-div"><div class="table-div-cell">
            <img src="images/knowlocker-processes.png" alt="#" class="image-auto">
        </div></div>
        <div class="clearfix"></div>
    </div>

    <div class="vault-half last">
        <h2>Knowlocker Processes</h2>
        <p>We are currently introducing processes functionality to accounts on a queue system to ensure that the process is smooth for all users.</p>
        <p>&nbsp;</p>
        <p>The functionallity is still in a limited testing and hope to have all users provisioned for Processes in the next few weeks.</p>
        <p>&nbsp;</p>
        <p>Thanks so much for your patience.</p>
        <p>&nbsp;</p>
        <a href="#" (click)="hidePopup()" class="c-button">OK</a>
        <div class="clearfix"></div>
    </div>
</div>
