<div id="opacity-container" class="live-setup" (click)="close()"></div>
<div class="modal-custom modal-lg" id="vault-modal">
    <a href="#" (click)="close()" class="close-it"><i class="fa fa-times"></i></a>
    <div class="vault-half">
        <div class="icon"><img src="images/icon-cloud-vault.png" alt="#" class="image-auto"></div>
        <ul class="check-list">
            <li><span class="check"><i class="fa fa-check"></i></span>Access to your existing file storage, directly within Knowlocker</li>
            <li><span class="check"><i class="fa fa-check"></i></span>Find emails and instant messages as part of your knowledge base</li>
            <li><span class="check"><i class="fa fa-check"></i></span>Convert any email or IM thread to an edited article for sharing</li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="vault-half last">
        <h2>Knowlocker Vault</h2>
        <p>We are currently introducing vault functionality to accounts on a queue system to ensure that the process is smooth for all users.</p>
        <p>&nbsp;</p>
        <p>We are rolling the functionality out for users currently and hope to have all users provisioned for Vault during the week commencing 13th November.</p>
        <p>&nbsp;</p>
        <p>Thanks so much for your patience.</p>
        <p>&nbsp;</p>
        <a href="#" (click)="close()" class="c-button">OK</a>
        <div class="clearfix"></div>
    </div>
</div>
