<div class="notification-main-container">
    <!-- Single notification box -->
    <div class="notifications-single-box">
        <img src="images/avatar.png" />
        <div class="notification-des">
            <a href="javascript:;" class="user">Gertruda Fenstermacher</a>
            <span>shared files with you.</span>
        </div>
        <p class="time-shared">15 min ago</p>
        <a href="javascript:;" class="fa fa-times" aria-hidden="true"></a>
    </div>
    <!-- Single notification box -->
    <div class="notifications-single-box">
        <img src="images/avatar.png" />
        <div class="notification-des">
            <a href="javascript:;" class="user">Gertruda Fenstermacher</a>
            <span>shared files with you.</span>
        </div>
        <p class="time-shared">15 min ago</p>
        <a href="javascript:;" class="fa fa-times" aria-hidden="true"></a>
    </div>
    <!-- Single notification box -->
    <div class="notifications-single-box">
        <img src="images/avatar.png" />
        <div class="notification-des">
            <a href="javascript:;" class="user">Gertruda Fenstermacher</a>
            <span>shared files with you.</span>
        </div>
        <p class="time-shared">15 min ago</p>
        <a href="javascript:;" class="fa fa-times" aria-hidden="true"></a>
    </div>
</div>