<div id="opacity-container" class="live-setup" (click)="hidePopup()"></div>
<div class="modal-custom modal-sm" id="popupcontainer">
    <div class="top">Connect Vault<a href="#" (click)="hidePopup()" class="close-it"><i class="fa fa-times"></i></a></div>
    <div class="body">
        <p>Knowlocker is the hub for more and more of your content.  Link files from Dropbox, emails from Gmail and more.</p>
        <div class="blue-box-nux">
            Get started by clicking the ‘<strong>Connect Vault</strong>’ button in the left column and connecting.
        </div>
        <div class="clearfix"></div>
    </div>
</div>
