<div class="ls-time-left">
    <div class="ls-time-left-block">
        <span class="time">{{days}}</span>
        <span>days</span>
    </div>
    <div class="ls-time-left-block">
        <span class="time">{{hours}}</span>
        <span>hours</span>
    </div>
    <div class="ls-time-left-block">
        <span class="time">{{minutes}}</span>
        <span>minutes</span>
    </div>
    <div class="ls-time-left-block">
        <span class="time">{{seconds}}</span>
        <span>seconds</span>
    </div>
</div>
